# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next/
out/

# Production
build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# Volumes & Databases
infra/timescale-data
infra/minio-data
infra/db-data

# Third party repositories
# If you prefer to track these as submodules later, you can remove this.
# third_party/
